.collaborator-style{
    width: 600px;
}
.collaborator{
    width: 40px;
    height: 40px;;
    border-radius:50%;
   background-color: gray;
   overflow: hidden;
   margin: 5px;  
}
.collaborated-button{
  /* margin-left: 220px; */
}