.inputtext{
    background: transparent;
    border: none;
    width: 530px;
}
.icon-button{
    margin: 0%;
    min-height: 32px !important;
    min-width: 48px !important;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
}
.icon-buttonend{
    margin:0px;
    padding: 4px 10px 10px 10px;
    min-height: 24px !important;
    min-width: 24px !important;
}
/* .pin{
    margin-left: 340px;
} */
.button{
    margin: 0px !important;
    padding: 4px 10px 10px 10px;
}
.buttondiv{
    margin-left: 240px;
}
.startdiv{
    margin: 32px auto 16px auto;
     position: relative; 
}
.seconddiv{
    position: absolute;
}
.icon-buttonend-seconddiv{
    margin:0px;
    padding: 4px 5px 2px 10px;
    min-height: 24px !important;
    min-width: 24px !important;
}
.title{
    font-weight: bold;
}
.second-div-style{
    width: 800px;
}
.note-pin{
    margin-left: 220;
    min-height: 24px !important;
    min-width: 24px !important;
    position: absolute;
}
[contenteditable] {
    /* border: 2px dotted #ccc;
    background-color: #eee; */
    padding: 2px;
    min-height: 10px;
  }
  .isPinneddiv{
    visibility: visible;
   
  }