/* class
id
!important
inline */

.inputtext{
    background: transparent;
    border: none;
    width: 530px;
    word-break: break-word;
    outline: transparent;
}
.icon-button{
    margin: 0%;
    min-height: 32px !important;
    min-width: 48px !important;
  }
.main {
    transition: margin-left .5s;
    padding-top:64px;
    
}
.icon-buttonend{
    margin:0px;
    padding: 4px 10px 10px 10px;
    min-height: 24px !important;
    min-width: 24px !important;
}

/* .button{
    margin: 0px !important;
    padding: 4px 10px 10px 10px;
} */
.buttondiv{
    margin-left: 240px;
}
.startdiv{
    margin: 32px auto 16px auto;
     position: relative; 
}
.seconddiv{
    position: absolute;
}
.icon-buttonend-seconddiv2{
    margin:0px;
    padding: 4px 5px 2px 10px;
    min-height: 24px !important;
    min-width: 24px !important;
}
.icon-buttonend-seconddiv
{ 
    margin:0px !important;
    padding: 0px;
    min-height: 24px !important;
    min-width: 24px !important;

}
.title{
    font-weight: bold;
}
.second-div-style{
    width: 800px;
}
.dialog-style{
    width: 616px;
    margin: 0px;
    
}
.md-dialog{
    overflow: hidden !important;
}
.note-pin{
    min-height: 24px !important;
    min-width: 24px !important;
    position: absolute;
}
.pin{
    margin-left: 80px;
}
[contenteditable] {
    border: none;
    padding: 2px;
    min-height: 10px;
  }
  .isPinneddiv{
    visibility: visible;
  }

.button-style
{
    padding: 0px;
    margin: 0px;
    white-space: 0px;
}
/* .list{
    width: 800px;
} */

  .menu-content {
      width: 300px;
  }
  div[contenteditable=true]:empty::before {
    content: attr(placeholder);
  }
  .closebtn {
     
    padding-left: 5px;
    color: #888;
    float: right;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.closebtn:hover {
    color: #000;
}

/* .md-chips:not(.md-readonly){
    cursor: pointer !important;
} */
md-chip{
    font-size: 11px;
    margin: 0 6px;
    padding: 1px;
    box-shadow:0px !important;
}
.md-chips{
    box-shadow: 0 0px !important;
}
/* .chip md-icon{
    width: 16px !important;
    height: 16px !important;
} */