.login{
  background: #fff;
  margin: 30px;
  width: 40%;
  padding: 3em 2em 2em 2em;
  text-align: center;
}
  .md-button.md-raised { 
   background-color: #fb0;
   width:300px;
  }
  
  md-toolbar:not(.md-menu-toolbar) {
    color: black;
  }
