/* #navbarId{
  background-color:#fb0 ;
} */
.header
{
  size: 1291*64;
}
.before::before {
  content: "Google";
}
a:link {
  text-decoration: none;
  color: black;
}a:hover {
  text-decoration: underline;
}
.search{
  background:rgba(0,0,0,0.04);
  border:  solid rgba(0,0,0,0);
  border-radius:4px; 
  width: 720px;
  height: 46px;
  text-decoration-color: black;
  position: relative;
}
.inputsearch{
  background: transparent;
  border: none;
  height: 46px;
  width: 616px;
}
.searchbutton{
  background: transparent;
  border: none;
}
.closesearch{
  background: transparent;
  border: none;
  padding: 0px 4px;
  box-sizing: border-box;
}
.refreshAndview{
  background-size: 24px 24px;
  box-sizing: border-box;
  flex: 0 0 auto;
  height:48px;
  width: 48px;
  border: 1px solid transparent;
}
.googleapp{
  padding-left: 70px;
  flex: 0 0 auto;
   display: inline-block;
}
.notification{
  padding-left: 20px;
  flex: 0 0 auto;
  display: inline-block;
} 
.signout{
  padding-left: 20px;
  flex: 0 0 auto;
  display: inline-block;
}