#navbarId{
  background-color:#fb0 ;
} 
.before::before {
  content: "Google";
}
a:link {
  text-decoration: none;
  color: black;
}a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.search{
  margin-left: 20px;
  background:rgba(0,0,0,0.04);
  border:  solid rgba(0,0,0,0);
  width: 720px;
  height: 46px;
  text-decoration-color: black;
  border-radius: 5px;
}
.inputsearch{
  background: transparent;
  border: none;
  height: 46px;
  width: 616px;
  outline: transparent;
}
.searchbutton{
  background: transparent;
  border: none;
}
.closesearch{
  background: transparent;
  border: none;
}
.icon-button{

  min-height: 48px !important;
  min-width: 48px !important;
  width: 48px;
}
