<div layout="row" layout-align="center center" id="main">
    <md-card>
        <div ng-show="isVisible">
            <md-card-title style="padding: 12px 15px 15px 15px; width:570px;height:16px;">
                <md-card-title-text layout="row">
                    <input class="inputtext" type="text" placeholder="Title" />
                    <md-icon class="icon-buttonend pin" md-svg-src="assets/images/pinned.svg"></md-icon>
                </md-card-title-text>
            </md-card-title>
        </div>
        <div>
            <md-card-title style="padding: 12px 15px 15px 15px; width:570px;height:19px;">
                </md-card-title-text>
                <span>
                    <input class="inputtext" type="text" placeholder="Take a note..." ng-click="showHide()"/>
                </span>
                <div style="margin-left:260px;">
                    <md-icon ng-show="!isVisible" class="icon-button" md-svg-src="assets/images/notelist.svg"></md-icon>

                    <md-icon ng-show="!isVisible" class="icon-button" md-svg-src="assets/images/noteimage.svg"></md-icon>
                </div>
                </md-card-title-text>
            </md-card-title>
        </div>
        <div ng-show="isVisible">
            <md-card-title style="padding:0%;width:600px;height:36px;">
                <md-card-title-text layout="row">
                    <md-icon class="icon-buttonend" md-svg-src="assets/images/reminder.svg"></md-icon> 
                    <md-icon class="icon-buttonend" md-svg-src="assets/images/collabotative.svg"></md-icon> 
                    <md-icon class="icon-buttonend" md-svg-src="assets/images/color.svg"></md-icon> 
                    <md-icon class="icon-buttonend" md-svg-src="assets/images/noteimage.svg"></md-icon> 
                    <md-icon class="icon-buttonend" md-svg-src="assets/images/archive.svg"></md-icon>
                    <md-icon class="icon-buttonend" md-svg-src="assets/images/more.svg"></md-icon>
                    <div class="buttondiv"><md-button class="button" ng-click="showHide1()">close</md-button></div>
                </md-card-title-text>

            </md-card-title>
        </div>
    </md-card>
    <div ng-repeat="note in notes">
        {{note.noteTitle}}
    </div>
</div>