<md-card class="dialog-style" style="padding-bottom:42px; overflow: hidden;" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
    <md-icon ng-if="!(note.notePinned)" ng-model="pin" style="margin-top:10px;margin-left:90%;" ng-click="outerScope.addClass(note)"
        md-svg-src="assets/images/pinned.svg"></md-icon>
    <md-icon ng-if="note.notePinned" ng-model="pin" style="margin-top:10px;margin-left:90%;" ng-click="outerScope.addClass(note)"
        md-svg-src="assets/images/pinned_color.svg">
    </md-icon>
    <!-- div for image -->
    <div ng-if="note.image">
        <img ng-src="{{note.image}}" style="padding:2px; width:600px;height:300px;">
      
            <md-icon class="trash-dialogImage" md-svg-src="assets/images/trash.svg" ng-click="outerScope.removeImage(note)"></md-icon>
        
    </div>

    <!-- div for title -->
    <div>
        <md-card-title style="padding:2%; width:240px;">
            <md-card-title-text>
                <div contenteditable="true" style="width: 480;outline: transparent;font: bold" ng-model="note.noteTitle" placeholder="Title"
                    layout-wrap ng-click="showHide()">
                </div>
            </md-card-title-text>
        </md-card-title>
    </div>

    <!-- div for description -->
    <div>
        <md-card-title style="padding:3%; width:240px;">
            <md-card-title-text>
                <div contenteditable="true" style="width: 480;outline: transparent;" ng-model="note.noteDescribtion" placeholder="Take a note..."
                    layout-wrap ng-click="showHide()">
                </div>
            </md-card-title-text>
        </md-card-title>
    </div>

    <!-- div for label operations -->
    <div style="padding:2%; width:240px;height:130px;" ng-hide="true">
    </div>

    <!-- div for label images -->
    <div>
        <md-card-title style="padding:0%; width:240px;height:42px;" class="seconddiv">
            <md-card-title-text layout="row">
                <md-button class="md-icon-button icon-buttonend-seconddiv2">
                    <md-icon md-svg-src="assets/images/reminder.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button icon-buttonend-seconddiv2">
                    <md-icon md-svg-src="assets/images/collabotative.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button icon-buttonend-seconddiv2">
                    <md-icon md-svg-src="assets/images/color.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button icon-buttonend-seconddiv2">
                    <md-icon md-svg-src="assets/images/noteimage.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button icon-buttonend-seconddiv2">
                    <md-icon ng-click="outerScope.archive(note)" md-svg-src="assets/images/archive.svg"></md-icon>
                </md-button>
                <md-menu>
                    <md-button class="md-icon-button icon-buttonend-seconddiv2">
                        <md-icon ng-click="$mdOpenMenu()" md-svg-src="assets/images/more.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="outerScope.trash(note)">
                                Delete note
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button>
                                Add label
                            </md-button>
                        </md-menu-item>
                </md-menu>
                <md-button style="margin-left:150px;" ng-click="close()">close</md-button>
            </md-card-title-text>
        </md-card-title>
    </div>
</md-card>