<div layout="column" layout-gt-sm="row" layout-align="center center" layout-padding>
    <div form class="login">
        <!-- toolbar for Registration -->
        <md-toolbar layout-padding style="background-color:#fb0;">
            <div class="md-toolbar-tools" layout-align="center center">
                <h2>Fogot Password</h2>
            </div>
        </md-toolbar>
        <br/>
        <br/>
        <!-- password -->
        <md-input-container>
            <input type="email" ng-model="userEmail" placeholder="Enter your email" />
        </md-input-container>
        <br/>
        <!-- sumbit button -->
        <md-input-container>
            <md-button type="submit" name="button" class="md-raised" ng-click="forgotpassword()">Reset Password</md-button>
        </md-input-container>
        <br/>
        </form>
    </div>
</div>