<div>
<md-card-title style="padding:0 0; width:240px;height:42px;" class="seconddiv">
        <md-card-title-text layout="row">
            <md-button class="md-icon-button icon-buttonend-seconddiv">
                <md-icon md-svg-src="assets/images/reminder.svg">
                </md-icon>
            </md-button>

            <md-button class="md-icon-button icon-buttonend-seconddiv">
                <md-icon md-svg-src="assets/images/collabotative.svg">
                </md-icon>
            </md-button>

            <md-menu>
                <md-button class="md-icon-button icon-buttonend-seconddiv" ng-click="openColorPalette($mdMenu,$event)">
                    <md-icon md-menu-origin md-svg-src="assets/images/color.svg">
                    </md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item md-menu-align-target ng-repeat="firstarray in colorbox" layout="row">
                        <md-menu-item ng-repeat="secondarray in firstarray" class="button-style">
                            <md-button class="md-fab md-mini" ng-style="{'background-color':secondarray}" ng-click="colorApply(secondarray,note)">
                            </md-button>
                        </md-menu-item>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-button class="md-icon-button icon-buttonend-seconddiv">
                <md-icon md-svg-src="assets/images/noteimage.svg">
                </md-icon>
            </md-button>

            <md-button class="md-icon-button icon-buttonend-seconddiv">
                <md-icon ng-click="archive(note)" md-svg-src="assets/images/archive.svg">
                </md-icon>
            </md-button>

            <md-menu>
                <md-button class="md-icon-button icon-buttonend-seconddiv" ng-click="$mdOpenMenu()">
                    <md-icon md-svg-src="assets/images/more.svg">
                    </md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="trash(note)">
                            Delete note
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button>
                            Add label
                        </md-button>
                    </md-menu-item>
            </md-menu>
        </md-card-title-text>
    </md-card-title>
</div>