<div class="login" layout="row" layout-align="center center">
  <div form class="loginform" flex-lg="60" flex-md="80" flex-sm="50">

  <form>
      <md-input-container>
      <input type="email" ng-model="userEmail" placeholder="Enter your name"/>
      </md-input-container>
      <br>
      <md-input-container>
          <input type="password" ng-model="password" placeholder="Enter your password"/>

      </md-input-container>
<br>
  <md-input-container>
    <md-button  type="submit" name="button" class="md-raised" ng-click="login()">Login</md-button>
  </md-input-container>
  </form>
</md-card>
</div>

<!-- <div layout="row">
  <md-card flex-lg="30" flex-gt-md="44" flex-md="44">
  <md-input-container>
  <input type="text" >
</md-input-container>
<md-input-container>
  <button type="submit">button</button>
</md-input-container>
</md-card>
</div> -->
