<div position="fixed">
  <md-toolbar  position="fixed" id="navbarId">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="toggleLeft()">
        <i class="material-icons">&#xE5D2;</i>
      </md-button>

      <h2 flex md-truncate><b>Google</b> Keep</h2>
      <md-card-actions layout="row" layout-align="end center" ng-click="signout()" >
        <md-button> Sign Out </md-button>
      </md-card-actions>
    </div>
  </md-toolbar>
</div>
