<md-card class="listgrid" style="padding-bottom:42px;" ng-style="{'background-color':note.color}" ng-mouseover="hoverIn()"
    ng-mouseleave="hoverOut()">
    <div layout="row" layout-align="end start">
        <md-icon  class="note-pin" ng-show="onMouse" ng-click="addClass(note,note.noteId)" md-svg-src="assets/images/pinned.svg">
        </md-icon>
    </div>
    <!-- div for image -->
    <div style="padding:2px; width:240px;height:130px;" ng-hide="true">
    </div>

    <!-- div for title -->
    <div class="title" ng-click="noteDialog($event,note)" style="word-break: break-word;">
        <md-card-content ng-bind-html="note.noteTitle" style="padding: 3px 0px 5px 3px; width:240px;">
        </md-card-content>
    </div>

    <!-- div for description -->
    <div ng-click="noteDialog($event,note)" style="word-break: break-word;">
        <md-card-content ng-bind-html="note.noteDescribtion" style="padding: 4px 0px 5px 4px; width:240px;">
        </md-card-content>
    </div>

    <!-- div for label operations -->
    <div style="padding:2px; width:240px;height:130px;" ng-hide="true">
    </div>

    <!-- for label image -->
    <labelimage ng-show="onMouse"></labelimage>
</md-card>