<md-card class="listgrid" style="padding-bottom:42px;width:240px;outline: transparent;margin-bottom: 0px;margin-top:15px;" ng-style="{'background-color':note.color}"
    ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
    <div layout="row" layout-align="end start">
        <md-icon class="note-pin" ng-show="onMouse" ng-click="addClass(note,note.noteId)" md-svg-src="assets/images/pinned.svg">
        </md-icon>
        <md-icon ng-if="note.notePinned" class="note-pin" ng-show="onMouse" ng-click="addClass(note,note.noteId)" md-svg-src="assets/images/pinned_color.svg">
        </md-icon>
    </div>
    <!-- div for image -->
    <div ng-if="note.image" style="padding: 0px;" ng-click="noteDialog($event,note)">
        <img class="image-div" ng-src="{{note.image}}" style="width:100%;">
    </div>

    <!-- div for title -->
    <div class="title" ng-click="noteDialog($event,note)" style="word-break: break-word;">
        <md-card-content ng-bind-html="note.noteTitle" style="padding: 3px 0px 5px 3px; width:240px;">
        </md-card-content>
    </div>

    <!-- div for description -->
    <div ng-click="noteDialog($event,note)" style="word-break: break-word;">
        <md-card-content ng-bind-html="note.noteDescribtion" style="padding: 4px 0px 5px 4px; width:240px;">
        </md-card-content>
    </div>

    <!-- div for label operations -->
    <div layout="row" style="width:240px;" ng-show="!reminderpanel" layout-wrap>
        <md-chips ng-if="note.reminderDate || note.reminderTime ">
            <md-chip ng-click="openpickdate()">
                {{note.reminderDate |date :"MMM d,"}}{{note.reminderTime}}
                <span class="closebtn" ng-click="remindercancel(note)" ng-show="onMouse">&times;</span>
            </md-chip>
        </md-chips>

        <md-chips layout="row" ng-if="note.labels.length>0" ng-repeat="label in note.labels">
            <md-chip ng-click="openpickdate()">
                <strong>{{label.labelName}}</strong>
                <span class="closebtn" ng-click="toggleForCancelChip(label, note.labels,note)" ng-show="onMouse">&times;</span>
            </md-chip>
        </md-chips>
        <div class="collaborator" ng-if="note.userset.length>0" ng-repeat="collaboratedUser in note.userset">
            <img ng-src="{{collaboratedUser.userProfileImage}}" style="width: 100%;">
        </div>
    </div>

    <!-- for label image -->
    <labelimage ng-show="onMouse"></labelimage>
</md-card>
<md-card class="listgrid" style="margin-top:0px;padding-top:0px;width:240px;">
    <div ng-if="note.webScrapList.length>0" class="webScrap" style="padding-bottom: 0px;" ng-repeat="webScrap in note.webScrapList">
        <div layout="row">
            <div style="width: 20%;height:56px;">
                    <img src="{{webScrap.linkImage}}" style="height: 100%;width: 100%;object-fit: cover;">
                
            </div>
            <div style="width:70%;padding-left: 2px;" class="md-truncate">
                <b>{{webScrap.linkTitle}}</b>
                <br /> {{webScrap.linkHost}}
            </div>
            <div style="width: 10%;">
                    <a href="{{webScrap.fullLink}}">
                <md-icon md-svg-src="assets/images/link.svg"></md-icon></a>
            </div>
        </div>
    </div>
</md-card>