<!-- <md-sidenav class="md-sidenav-left" md-component-id="open" md-disable-backdrop md-whiteframe="2" position="fixed" style='max-width:280px;' ng-cloak>
  <div layout-margin flex-gt-sm="50">
    <ul>
      <li>
        <md-content>
          Notes
        </md-content>
      </li>
      <li>
        <md-content>
          Remainder
        </md-content>
      </li>
    </ul>

  </div>
</md-sidenav> -->
<!-- <md-sidenav md-is-locked-open="$mdMedia('gt-sm') " flex="20" class="md-
sidenav-left" layout-padding>
<h4>side nav content</h4>
</md-sidenav> -->
<!-- <md-content layout="row">
  <md-sidenav md-is-open="true" flex class="md-sidenav-left">
  <h4>side nav content</h4>
  </md-sidenav>
  <div layout-padding flex="80">
    Lorem ipsum
    ...
    </div>
    </md-content> -->
<md-sidenav class="md-sidenav-left" md-component-id="open"  md-disable-backdrop style='max-width:280px;' ng-cloak>
  <div>
    <md-content class="contentlist">
      <md-list>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/note.svg"></md-icon>
          <span>Notes</span>
        </md-list-item>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/reminder.svg"></md-icon>
          <span>Reminders</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>
          <div layout="row">
            <div style="margin-top: 10px;">Lables</div>
            <div style="margin-left: 150px;">
              <md-button style="min-width: 48px; margin-top:0px;">EDIT</md-button>
            </div>
          </div>
        </md-subheader>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/createnewnote.svg"></md-icon>
          <span>Create new note</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/archive.svg"></md-icon>
          <span>Archive</span>
        </md-list-item>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/trash.svg"></md-icon>
          <span>Trash</span>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/setting.svg"></md-icon>
          <span>Settings</span>
        </md-list-item>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/sendfeedback.svg"></md-icon>
          <span>Send Feedback</span>
        </md-list-item>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/help.svg"></md-icon>
          <span>Help</span>
        </md-list-item>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/appdownloads.svg"></md-icon>
          <span>App downloads</span>
        </md-list-item>
        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/keyboardshoutcut.svg"></md-icon>
          <span>Keyboard shortcuts</span>
        </md-list-item>
      </md-list>

      <md-list>
        <div>
          <md-list-item class="end">
            <div layout="row">
              <a href="https://www.google.com/policies/privacy/">Privacy</a>
              &nbsp;&nbsp;
              <a href="http://www.google.com/policies/terms/">Terms</a>
            </div>
          </md-list-item>
          <md-list-item>
            <div>
              Open-source licence
            </div>
          </md-list-item>
        </div>
      </md-list>
    </md-content>
  </div>
</md-sidenav>