<md-sidenav class="md-sidenav-left" md-component-id="open" md-disable-backdrop style='max-width:280px;position: fixed;background-color: #e8e8e8;' ng-cloak>
  <div>
    <md-content class="contentlist" style="background-color: #e8e8e8;">
      <md-list>

        <md-list-item ng-click="noteState()">
          <md-icon class="list" md-svg-src="assets/images/note.svg"></md-icon>
          <span>Notes</span>
        </md-list-item>

        <md-list-item ng-click="reminderState()">
          <md-icon class="list" md-svg-src="assets/images/reminder.svg"></md-icon>
          <span>Reminders</span>
        </md-list-item>

        <md-divider></md-divider>

        <md-subheader style="background-color: #e8e8e8;">
          <div layout="row">
            <div style="margin-top: 10px;">Lables</div>
            <div style="margin-left: 150px;">
              <md-button style="min-width: 48px; margin-top:0px;" ng-click="labelDialog($event)">EDIT</md-button>
            </div>
          </div>
        </md-subheader>

        <md-list-item ng-repeat="label in labels" ng-click="labelState(label.labelName)">
          <md-icon class="list" md-svg-src="assets/images/label.svg"></md-icon>
          <span class="md-truncate">{{label.labelName}}</span>
        </md-list-item>
        <md-list-item ng-click="labelDialog($event)">
          <md-icon class="list" md-svg-src="assets/images/createnewnote.svg"></md-icon>
          <span>Create new label</span>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ng-click="archiveState()">
          <md-icon class="list" md-svg-src="assets/images/archive.svg"></md-icon>
          <span>Archive</span>
        </md-list-item>

        <md-list-item ng-click="trashState()">
          <md-icon class="list" md-svg-src="assets/images/trash.svg"></md-icon>
          <span>Trash</span>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item ng-click="null">
          <md-icon class="list" md-svg-src="assets/images/setting.svg"></md-icon>
          <span>Settings</span>
        </md-list-item>

    </md-content>
  </div>
</md-sidenav>