<div layout="row" layout-align="center center" style="width: 100%;">
    <div id="main" layout="row" class="second-div-style isPinneddiv main" layout-align="start start" ng-show="isPinned" layout-wrap>
        <div ng-repeat="note in notes | filter:{noteTrash:true}">
            <md-card style="padding-bottom:42px;" ng-style="{'background-color':note.color}" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
                <md-icon ng-model="pin" class="note-pin" ng-show="onMouse" ng-click="addClass(note)" md-svg-src="assets/images/pinned.svg"></md-icon>
                <!-- div for image -->
                <div style="padding:2%; width:240px;height:130px;" ng-hide="true">
                </div>

                <!-- div for title -->
                <div class="title" style="word-break: break-word;">
                    <md-card-content ng-bind-html="note.noteTitle" style="padding: 3px 0px 5px 3px; width:240px;">
                    </md-card-content>
                </div>

                <!-- div for description -->
                <div style="word-break: break-word;">
                    <md-card-content ng-bind-html="note.noteDescribtion" style="padding: 4px 0px 5px 4px; width:240px;">
                    </md-card-content>
                </div>

                <!-- div for label operations -->
                <div style="padding:2%; width:240px;height:130px;" ng-hide="true">
                </div>

                <!-- div for label images -->
                <div ng-show="onMouse">
                    <md-card-title style="padding:0%; width:240px;height:42px;" class="seconddiv">
                        <md-card-title-text layout="row">
                            <md-menu>
                                <md-icon class="icon-buttonend-seconddiv" ng-model="trash" ng-click="$mdOpenMenu()" md-svg-src="assets/images/more.svg"></md-icon>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button ng-click="delete(note)">
                                            Delete forever
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item>
                                        <md-button ng-click="trash(note)">
                                            Restore
                                        </md-button>
                                    </md-menu-item>
                            </md-menu>
                        </md-card-title-text>
                    </md-card-title>
                </div>
            </md-card>
        </div>
    </div>
</div>
</div>